 /* 解决移动端长按拷贝 */
 * {
   -webkit-touch-callout: none;
   /*系统默认菜单被禁用*/
   -webkit-user-select: none;
   /*webkit浏览器*/
   -khtml-user-select: none;
   /*早期浏览器*/
   -moz-user-select: none;
   /*火狐*/
   -ms-user-select: none;
   /*IE10*/
   user-select: none;
 }
 /* 给input开权限 */
 input {
   -webkit-user-select: auto;
 }

 body {
   /* 解决iOS微信左右回弹 */
   overflow: scroll;
   overflow-x: hidden;
   margin: 0 auto;
 }

 #app {
   width: 100%;
 }

 .progress-box {
   width: 375px;
   height: auto;
   margin: 0 auto;
 }

 #barbox {
   color: #ffffff;
   width: 247px;
   position: absolute;
   line-height: 18px;
   left: 84px;
   top: 0px;
 }

 .circle_move {
   background: url(../img/circle.png) no-repeat;
   width: 24px;
   height: 24px;
   position: absolute;
   left: -2px;
   top: -7px;
   cursor: pointer;
 }

 #grade {
   position: absolute;
   right: 20px;
   top: -3px;
   font-size: 20px;
 }

 .scale {
   background-repeat: repeat-x;
   background-position: 0 100%;
   background-color: #E4E4E4;
   width: 100%;
   height: 10px;
   margin: 18px 47px 18px 0;
   position: relative;
   border-radius: 3px;
 }

 #bg {
   background-repeat: repeat-x;
   background-color: #3fe2ea;
   width: 0px;
   position: absolute;
   height: 10px;
   width: 0;
   left: 0;
   bottom: 0;
 }

 .box-head-title {
   width: 100%;
   height: 80px;
   background: url(../img/icon-12.png) no-repeat center;
   background-size: 40% 50%;
 }

 .title {
   position: absolute;
   left: 15px;
   font-size: 12px;
   top: -2px;
 }

 .progress-content {
   font-size: 12px;
   line-height: 50px;
   position: relative;
   height: 50px;
   list-style: none;
 }
